.main {
  display: flex;
  gap: 20px;

  @media screen and (max-width: 600px) {
    flex-direction: column;
    gap: 0;
  }
}

.input {
  margin: 20px 0;
  display: flex;
  flex: 1;
  align-items: center;
  gap: 10px;

  @media screen and (max-width: 600px) {
    margin: 10px 0;
    padding: 10px;
  }
}