.wrapper {
  width: 1100px;
  margin: 0 auto;
  height: 50px;
}

.main {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  padding: 0 20px;
}

.box {
  display: flex;
  gap: 20px;
  align-items: center;
}

.link:hover {
  color: rgb(193, 168, 138);
}

.sun:hover {
  animation: 3s linear infinite rotate;
  
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


